/* Write your CSS here */
.title {
  color: black;
  font-family: 'roboto';
  font-size: 16px;
}
.delete-btn {
  background-color: white;
  color: #ff0b37;
  border-style: solid;
  border-width: 1px;
  border-color: #ff0b37;
  border-radius: 6px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 25px;
  }
  .delete-btn {
    font-size: 25px;
  }
}

